{% extends 'base.html'%}
{% load static %}

{% block title %} About {% endblock title %}
{% block main_content %}


<br>
<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100" style="background-color:#008080;">
            <img src="{% static 'images/94530.jpg'%}" width="90" height="350" class="card-img-top" alt="...">
            <p> <b>Looking opportunities In Backend Developer</b></p>
              <div>
             <a href="https://www.facebook.com/profile.php?id=61552032963994"  style="background-color:white;" <li><img class="social" src="{% static 'images/facebook.png' %}"></li></a>
					  <a href="https://www.linkedin.com/in/vikash-kumar-0b3b36287/" style="background-color:white;"  <li><img class="social" src="{% static 'images/linkedin.png' %}"></li></a>
					  <a href="https://twitter.com/VikashKumar5_m" style="background-color:white;" <li><img class="social" src="{% static 'images/twitter.png' %}"></li></a>
					  <a href="https://studio.youtube.com/channel/UCZibr0vcX1yxXSXU-kPK9_Q" style="background-color:white;" <li><img class="social" src="{% static 'images/youtube.png' %}"></li></a>
               </div>
				</div>
			</div>
<!--1.jpeg-->
			<div class="col-md-6" style="background-color:#008080;" my-3>
			      <h1 > About Self </h1>
                  <p> <b>Introduction:</b></p>
                     <p> - I'm Vikash Kumar, a dynamic and highly motivated individual passionate about Python development and data analytics. I am currently in my final semester pursuing an MBA in Big Data Analytics, and I hold a bachelor's degree in Computer Science. I am excited to embark on a career as a Python developer, combining my strong technical foundation with advanced data analytics skills.</p>

                  <p> <b>Educational Background:</b></p>
                    <p> - B.Tech in Computer Science: I completed my Bachelor of Technology in Computer Science In (2019), which equipped me with a solid understanding of computer science principles, algorithms, and software development.</p>
                    <p> - MBA in Big Data Analytics (Final Semester): I am on the verge of completing my MBA in Big Data Analytics. This program has honed my skills in data processing, data visualization, predictive modeling, and the application of data analytics tools and techniques (session :2021- 2023) .</p>
                  <p><b> Passion for Python Development:</b></p>
                  <p>  - My journey into the world of Python development began during my undergraduate studies, where I developed a deep affinity for programming. Python, with its simplicity and versatility, quickly became my language of choice. Over time, I have worked on a variety of projects, ranging from web development to data analysis and machine learning, all of which have allowed me to harness the power of Python to solve real-world problems.</p>
                  <p> <b> Career Goals: </b></p>
                   <p> - My immediate career goal is to secure a Python developer role where I can apply my technical skills and data analytics knowledge to create innovative solutions. I am eager to collaborate with experienced professionals, contribute to meaningful projects, and further develop my expertise in Python development.</p>
                   <p> - I believe my unique combination of computer science and data analytics education, coupled with my passion for Python programming, positions me as a promising candidate for a Python developer role. I am excited about the opportunities ahead and look forward to making a positive impact in the world of Python development.</p>
                   <p> <h5> Thank you for considering my profile. </h5> </p>
                    
			</div>
	
		<br>
</div>
{% endblock main_content %}