{% extends 'base.html' %}
{% load static %}
{% block title %} Certification  {% endblock title %}
<!-- image slider -->
{% block main_content %}
<br>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/ibm.jpg'%}" height="620pixcel" width ="90pixcel" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/du_py.jpg'%}" height="720pixcel" width ="90pixcel" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/machine_learning.jpg'%}"  height="620pixcel" width ="90pixcel"class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="{% static 'images/sql.jpg'%}"  height="620pixcel" width ="90pixcel" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Vikash Kumar.jpg'%}" height="620pixcel" width ="90pixcel" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/python_developer.jpg'%}" height="620pixcel" width ="90pixcel" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock main_content%}