{% extends 'base.html' %}
{% load static %}

{% block title %} Project  {% endblock title %}
{% block main_content %}

<br>
<div class="card-group" >
  <div class="card" >
    <img src="{% static 'images/crud.png'%}" class="card-img-top" alt="...">
    <div class="card-body">
       <h5 class="card-title">CRUD PROJECT </h5>
      <p class="card-text"><b>GitHubLink - https://github.com/vikash-mzu/CRUD_PROJECT.git</b></p>
      <p class="card-text">The Student Records Management System is an essential tool for educational institutions, offering a robust and user-friendly solution for managing student records. It improves data accuracy, accessibility, and security while simplifying administrative tasks related to student information management. Additionally, the project serves as an excellent example of how Django can be used to develop efficient CRUD applications</p>
    </div>
  </div>
  <div class="card">
   <img src="{% static 'images/em.jpeg'%}" height="290pixcel" class="card-img-top" alt="...">
    <div class="card-body">
       <p class="card-text"><b>GitHubLink -   https://github.com/vikash-mzu/e_commerce.git</b></p>
      <p class="card-text">Work on e-commerce web application using Python and Django framework.</P>
       <P>o	Implemented user authentication, product catalog, and shopping cart functionalities.</P>
      <P>o Utilized HTML, CSS, and JavaScript for front-end development and MySQL for the database </P>
    </div>
  </div>
  <div class="card">
   
 
    <img src="{% static 'images/prot.webp'%}" height="290pixcel" class="card-img-top" alt="...">
    <br>
    <p class="card-text"><b>GitHubLink -  https://github.com/vikash-mzu/Protofolia.git</b></p>
    <div class="card-body">
      <h5 class="card-title">Protofolia</h5>
      <p class="card-text">VIKAH DETAIL</p>
      <p> > In This Project I am Declare All My Detail </p>
      <p> > Please Contact Me </p>
      
    </div>
  </div>
</div>

  

<!-- hg-->

  
  
{% endblock main_content %}