{% extends 'base.html' %}
{% load static %}
{% block title %} Qualification  {% endblock title %}
{% block main_content %}
<!-- thii-->

<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/mzu.png'%}" height='100pixcel' width ="50pixcel"class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title">MBA(BIG DATA ANALYTICS)</h5>
           
<table class="table">
  
    <tr>
      <th scope="col"></th>
      <th scope="col">Board</th>
      <th scope="col">Branch</th>
      <th scope="col">Passing Year</th>
      <th scope="col">Percentage</th>
      <th scope="col">Satatus</th>
    </tr>

 
    <tr>
      <th scope="row"></th>
      <td>Mizoram University</td>
      <td>Big Data Analyitcs</td>
      <td>2023</td>
      <td> - </td>
      <td>Persuing</td>
    </tr>
    
      
</table>

      </div>
      <div class="card-footer"  >
      <small class="text-body-secondary" ><b> POST GRADUATION </b></small>
    </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/rpsit.png'%}" height='100pixcel' width ="50pixcel" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">B.TECH(COMPUTER SCIENCE & ENG.)</h5>
           
<table class="table">
  
    <tr>
      <th scope="col"></th>
      <th scope="col">Board</th>
      <th scope="col">Branch</th>
      <th scope="col">Passing Year</th>
      <th scope="col">Percentage</th>
      <th scope="col">Satatus</th>
    </tr>

 
    <tr>
      <th scope="row"></th>
      <td>Magadh University</td>
      <td>Computer Science</td>
      <td>2019</td>
      <td> 73.33% </td>
      <td>Complete</td>
    </tr>
    
      
</table>

      </div>
      <div class="card-footer"  >
      <small class="text-body-secondary" ><b> GRADUATION </b></small>
    </div>
    </div>
  </div>
  <!---efejk-->

  <!---fdbbj-->
  <div class="col">
    <div class="card h-100">
         <img src="{% static 'images/10+2.jpg'%}" height='100pixcel' width ="50pixcel" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title"> CLASS- 10+2 </h5>
   <table class="table">
  
    <tr>
      <th scope="col"></th>
      <th scope="col">Board</th>
      <th scope="col">Branch</th>
      <th scope="col">Passing Year</th>
      <th scope="col">Percentage</th>
      <th scope="col">Satatus</th>
    </tr>

 
    <tr>
      <th scope="row"></th>
      <td>BIHAR BOARD</td>
      <td>Science</td>
      <td>2014</td>
      <td>57 % </td>
      <td>Complete</td>
    </tr>
    
      
</table>

      <!---thjj-->
     
    </div>
      <div class="card-footer"  >
          <small class="text-body-secondary" ><b>INTERMEDIATE  </b></small>
      </div>
   
      </div>

      <!---again card -->

      
  <!---efejk-->

  <!---fdbbj-->
  
    </div>
    <!--insert card -->
    
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/cb.png'%}" height='100pixcel' width ="50pixcel" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CLASS - 10th </h5>
           
<table class="table">
  
    <tr>
      <th scope="col"></th>
      <th scope="col">Board</th>
      <th scope="col">Branch</th>
      <th scope="col">Passing Year</th>
      <th scope="col">Percentage</th>
      <th scope="col">Satatus</th>
    </tr>

 
    <tr>
      <th scope="row"></th>
      <td>CBSE</td>
      <td>Science</td>
      <td>2011</td>
      <td> 86 % </td>
      <td>Complete</td>
    </tr>
    
      
</table>

      </div>
      <div class="card-footer"  >
      <small class="text-body-secondary" ><b> HIGH SCHOOL </b></small>
    </div>
    </div>
  </div>
  </div>
</div>

       <!--thisu-->
     
  



{% endblock main_content %}